<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="DataFolder">
            <Directory Id="dirD8F55AB23910A4D7B3DD5FB229E3AEBA" Name="Audio" />
            <Directory Id="dir2D8468FCD13CA657E52A81EC9BCAD2FB" Name="Data" />
            <Directory Id="dirCC781AAE351457540D978B937FA3F0F0" Name="EditorTemp" />
            <Directory Id="dir60FE8674BAD8BA5A760E24CFA02FEBB3" Name="Log" />
            <Directory Id="dir538142187E0EC39EE6EF5420D1EDDB29" Name="Temp" />
            <Directory Id="dir1755F2FDF1C51B9BAF86418374D5835C" Name="Video" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="DataFiles">
            <Component Permanent="yes" Id="cmp4C18AD20A095DE870D8694E1F9B87989" Directory="DataFolder" Guid="{82B407F5-6A56-47E5-BB08-7DE686994C90}">
                <File Id="fil434119E47F4C744CC5A60CADA2A12468" KeyPath="yes" Source="$(var.HarvestPath)\Application.xml" />
            </Component>
            <Component Permanent="yes" Id="cmpE1B31AD6E0F266EEDB4261F768890AE2" Directory="dirD8F55AB23910A4D7B3DD5FB229E3AEBA" Guid="{F6000A19-9779-4D1A-8AC2-00CB1525791B}" KeyPath="yes">
                <CreateFolder />
            </Component>
            <Component Permanent="yes" Id="cmp8F510F60CBF8B3EC42E31505CE4F0E34" Directory="dir2D8468FCD13CA657E52A81EC9BCAD2FB" Guid="{46E8DE05-68C7-4C29-82F0-82904AB97BFD}">
                <File Id="fil87C9C2C394CA5BC0E0FDDFC11F334F92" KeyPath="yes" Source="$(var.HarvestPath)\Data\Advanced1Wizard.json" />
            </Component>
            <Component Permanent="yes" Id="cmp645BD8DCE895410D2E36D4B7AECC8F95" Directory="dir2D8468FCD13CA657E52A81EC9BCAD2FB" Guid="{716042BC-B2EC-4A7E-95A4-8F6EECDFD856}">
                <File Id="filA6F509AAA7E51EB1FD8E3F5B0272B550" KeyPath="yes" Source="$(var.HarvestPath)\Data\AdvancedDialogs.json" />
            </Component>
            <Component Permanent="yes" Id="cmpC07DCB0A5685D0E322CBE3C0DDE87570" Directory="dir2D8468FCD13CA657E52A81EC9BCAD2FB" Guid="{7C8AE246-A581-4200-B66D-D8AAC3B827A7}">
                <File Id="fil40F1A5EEF90D9328748E4FA95B4F0F43" KeyPath="yes" Source="$(var.HarvestPath)\Data\BettyTChich.json" />
            </Component>
            <Component Permanent="yes" Id="cmp31B9181056DC67EA8008EEE929A2F530" Directory="dir2D8468FCD13CA657E52A81EC9BCAD2FB" Guid="{F029D4B0-6904-4745-9C99-81A1E1D0E85D}">
                <File Id="filAB6C3634EF61F6AD25E3E1E1B5FB87D6" KeyPath="yes" Source="$(var.HarvestPath)\Data\BjornOresson.json" />
            </Component>
            <Component Permanent="yes" Id="cmp0F169660709CA304229A385F41D78BC5" Directory="dir2D8468FCD13CA657E52A81EC9BCAD2FB" Guid="{F05FA18A-D891-4322-A9D0-4F36F5337A4C}">
                <File Id="filCB1B579481A89D57886278CD0A248A68" KeyPath="yes" Source="$(var.HarvestPath)\Data\CowboyBill.json" />
            </Component>
            <Component Permanent="yes" Id="cmp75DBBBAA64F6A03F87572915D15FB15B" Directory="dir2D8468FCD13CA657E52A81EC9BCAD2FB" Guid="{B199AB2F-5593-4758-A76A-C13725DCFABF}">
                <File Id="fil3724FAAA2D16F5E4D6F1D28762319367" KeyPath="yes" Source="$(var.HarvestPath)\Data\DannyPatel.json" />
            </Component>
            <Component Permanent="yes" Id="cmp94099959E4CD9231A7C20D4E7DE7E6B6" Directory="dir2D8468FCD13CA657E52A81EC9BCAD2FB" Guid="{B57D39F0-85AB-4EA7-8601-D36E8AA9B806}">
                <File Id="fil01FD8CE443D1D45B58D95C60A926B811" KeyPath="yes" Source="$(var.HarvestPath)\Data\Ponies.json" />
            </Component>
            <Component Permanent="yes" Id="cmpAAB9818A60E0AEDB3A5329E8421C49BB" Directory="dir2D8468FCD13CA657E52A81EC9BCAD2FB" Guid="{8634CE69-BBB9-4AA7-8415-4AFD41EBC5CA}">
                <File Id="fil85D72BA9A6E26A10FEB3457C2795286E" KeyPath="yes" Source="$(var.HarvestPath)\Data\sasasss.json" />
            </Component>
            <Component Permanent="yes" Id="cmp5DE6B7C40C2E081CEEEE81AFB9A4FC6C" Directory="dir2D8468FCD13CA657E52A81EC9BCAD2FB" Guid="{6CEAC790-38D0-4755-97E7-A48718D1C1A1}">
                <File Id="filD4FA18184BB4B8D433315C8A9F076312" KeyPath="yes" Source="$(var.HarvestPath)\Data\Skylar.json" />
            </Component>
            <Component Permanent="yes" Id="cmpD30280463E278AD4AADA21ECF517F6E5" Directory="dir2D8468FCD13CA657E52A81EC9BCAD2FB" Guid="{5CE67D5E-3788-40D2-852F-CB7C16589D11}">
                <File Id="filDB70B9A908630A70C635C0DB9F579F96" KeyPath="yes" Source="$(var.HarvestPath)\Data\StarlightGlimmer.json" />
            </Component>
            <Component Permanent="yes" Id="cmpB533FAD5635B6783C6521D235921ECFE" Directory="dir2D8468FCD13CA657E52A81EC9BCAD2FB" Guid="{0C65AEBF-8777-429E-942E-22D79FB4A2A8}">
                <File Id="fil0DEF3BC4688961835020C3306A72966C" KeyPath="yes" Source="$(var.HarvestPath)\Data\StarterCharacterWizardBasicAndIntermediateDialogModels.json" />
            </Component>
            <Component Permanent="yes" Id="cmpA85971E43EA71C16ADDE8B43A6B8C63E" Directory="dir2D8468FCD13CA657E52A81EC9BCAD2FB" Guid="{F397E6D9-A2C1-4793-8B06-CC1D6414A440}">
                <File Id="filEC5A66A6E0F2D42EA27A460EAB0B665F" KeyPath="yes" Source="$(var.HarvestPath)\Data\ttt.json" />
            </Component>
            <Component Permanent="yes" Id="cmp5F0E9506AE51A52E8213C66A83D1278E" Directory="dir2D8468FCD13CA657E52A81EC9BCAD2FB" Guid="{3907120A-E366-49F1-AC1C-1ED6CDCF134E}">
                <File Id="filEA478752534D8F076C77D2BDD1B59C7E" KeyPath="yes" Source="$(var.HarvestPath)\Data\TwinkleTwinkle.json" />
            </Component>
            <Component Permanent="yes" Id="cmp9F3590D2ECB2387F93A3C6282646F3B1" Directory="dirCC781AAE351457540D978B937FA3F0F0" Guid="{0744F635-3F69-42D3-ABBE-B8344E3A079A}" KeyPath="yes">
                <CreateFolder />
            </Component>
            <Component Permanent="yes" Id="cmp2840A776911FB50132E04BDFF6571C22" Directory="dir60FE8674BAD8BA5A760E24CFA02FEBB3" Guid="{A56B8093-A4A1-42E5-98B3-9DC710D46650}">
                <File Id="filF1B54C4D584D710F301406D25B5A3C2D" KeyPath="yes" Source="$(var.HarvestPath)\Log\DecimalSerialLogDirectBLE.log" />
            </Component>
            <Component Permanent="yes" Id="cmpD09BA8FB3E9CFC8FA4ADDDF96AB9D994" Directory="dir60FE8674BAD8BA5A760E24CFA02FEBB3" Guid="{8005F649-6E72-44C8-A7D4-18D1AD4D514B}">
                <File Id="fil65E7D8A3CB6747B475BC9DA6D6D15D70" KeyPath="yes" Source="$(var.HarvestPath)\Log\DialogGenerator.log" />
            </Component>
            <Component Permanent="yes" Id="cmp7BE47E7A410C6D63319A8EBDEDD8B1EF" Directory="dir60FE8674BAD8BA5A760E24CFA02FEBB3" Guid="{62A4AB3A-F7E0-4634-AD5C-0D2746C7E1B3}">
                <File Id="fil3E34F40C1783E4CB5DFE7509CC3B1A47" KeyPath="yes" Source="$(var.HarvestPath)\Log\LogDialog.log" />
            </Component>
            <Component Permanent="yes" Id="cmp92D8B904F9983B06F8BE9465A96CC617" Directory="dir538142187E0EC39EE6EF5420D1EDDB29" Guid="{8CECF88E-A8AF-4374-BCF2-BDEE4A0AAAF1}" KeyPath="yes">
                <CreateFolder />
            </Component>
            <Component Permanent="yes" Id="cmp22F5D7F9FCE16B3FC4484A2ADA4A7BC6" Directory="dir1755F2FDF1C51B9BAF86418374D5835C" Guid="{C67AFCA1-F135-4A92-9A4E-71B8604DA9BD}" KeyPath="yes">
                <CreateFolder />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>