<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      
      <!-- application -->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="DialogGenerator">
          <Directory Id="Tools" Name="Tools" />
          <Directory Id="Tutorial" Name="Tutorial" />
        </Directory>
      </Directory>

      <!--  data  -->
      <Directory Id="UserDocumentsFolder">
        <Directory Id="DataFolder" Name="DialogGenerator">
          <!--
          <Directory Id="Data" Name="Data" />
          <Directory Id="Audio" Name="Audio" />
          <Directory Id="Temp" Name="Temp" />
          <Directory Id="Video" Name="Video" />
          <Directory Id="Images" Name="Images" />
          <Directory Id="EditorTemp" Name="EditorTemp" />-->
        </Directory>
      </Directory>
      
      <!-- used for shortcut -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="DialogGenerator"/>
      </Directory>

      <Directory Id="DesktopFolder">
        
      </Directory>
            
    </Directory>
  </Fragment>
</Wix>
