<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include Config.wxi?>
  
	<Product Id="*" Name="$(var.SkuName)" Language="1033" Version="$(var.VersionNumber)" 
   Manufacturer="$(var.Manufacturer)" UpgradeCode="880cbb5f-2d77-425a-8d96-a8000443c1f2">
        
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." 
      AllowSameVersionUpgrades="yes" AllowDowngrades="no" Schedule="afterInstallInitialize"/>
		<MediaTemplate EmbedCab="yes" />
    
    <Icon Id="DialogGeneratorIcon" SourceFile="Resources\DialogGeneratorIcon.ico"/>
    <Icon Id="DialogGeneratorIcon.exe" SourceFile="$(var.DialogGenerator_TargetDir)DialogGenerator.exe"/>
    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Thank you for installing Toys2Life." />
    <Property Id="ARPPRODUCTICON" Value="DialogGeneratorIcon" />    
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <!--<Property Id="DATA_DIR" Value="$(var.DialogGenerator_TargetDir)Data" />
    <Property Id="VIDEO_DIR" Value="$(var.DialogGenerator_TargetDir)Video" />
    <Property Id="AUDIO_DIR" Value="$(var.DialogGenerator_TargetDir)Audio" />
    <Property Id="IMAGES_DIR" Value="$(var.DialogGenerator_TargetDir)Images" />-->
    <Property Id="TOOLS_DIR" Value="$(var.DialogGenerator_TargetDir)Tools" />
    <Property Id="TUTORIAL_DIR" Value="$(var.DialogGenerator_TargetDir)Tutorial" />
    <Property Id="USER_DOCUMENTS_FOLDER_PATH">
      <RegistrySearch Key="SOFTWARE\$(var.Manufacturer)\$(var.SkuName)" Root="HKLM" Type="raw" Id="USER_DATA_FOLDER_REGSEARCH" Name="Path" />
    </Property>
    <SetDirectory Id='UserDocumentsFolder' Value='C:\Users\[LogonUser]\Documents' />
    
    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="Resources\licence.rtf" />
    <!--<WixVariable Id="WixUIBannerBmp" Value="Resources\T2L_C.jpg.bmp"/>-->
    
		<Feature Id="DialogEngine" Title="DialogEngine" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="DesktopShortcut"/>
      <ComponentRef Id="Tools"/>
      <ComponentRef Id="JSONedit.exe"/>
      <ComponentRef Id="mp3gain.exe"/>
      <ComponentRef Id="DialogGenerator.ZIPFIleUtility.exe"/>
      <ComponentRef Id="Tutorial"/>
      <ComponentRef Id="tutorial.pdf"/>
      <!--<ComponentRef Id="tutorial.docx"/>-->
      <ComponentRef Id="PhraseTypes.txt"/>
      <ComponentRef Id="PhraseTypeGlossary.docx"/>
		</Feature>

    
    <Feature Id="Data" Title="Data" Level="1">
      <ComponentGroupRef Id="DataFiles" />
      <!--<ComponentRef Id="Temp" />
      <ComponentRef Id="EditorTemp" />
      <ComponentRef Id="Video" />
      <ComponentRef Id="Data" />
      <ComponentRef Id="Audio" />
      <ComponentRef Id="Images" />
      <ComponentRef Id="Application.xml" /> 
      <Condition Level="1">NOT Installed</Condition> -->
    </Feature>
    
	</Product>
</Wix>
